/*  Avatar  */

.avatar-xs {
  width: 2.25rem !important;
  height: 2.25rem !important;
}

.avatar-sm {
  width: 2.75rem !important;
  height: 2.75rem !important;
}

.avatar-md {
  width: 4rem !important;
  height: 4rem !important;
}

.avatar-lg {
  width: 6rem !important;
  height: 6rem !important;
}
