/* dashboard side navigation */

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 96px;
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: $gray-100;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: left, visibility;
  }
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}
.db-sidenav {
  padding: 10px 0px;
  position: fixed;
  height: 100%;
  display: inline-block;
  overflow: auto;
  width: 210px;
  z-index: 77;
  .navbar {
    padding: 0px;
  }
  .icon-bar {
    width: 21px;
    height: 3px;
    background-color: $black;
    display: block;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    margin-top: 4px;
  }
  .navbar-toggler {
    &:focus {
      outline: 0px;
    }
    .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 190%;
      background-color: $black;
    }
    .middle-bar {
      opacity: 0;
    }
    .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% -80%;
      background-color: $black;
    }
  }
  .navbar-toggler.collapsed {
    .top-bar {
      transform: rotate(0);
      background-color: $black;
    }
    .middle-bar {
      opacity: 1;
    }
    .bottom-bar {
      transform: rotate(0);
      background-color: $black;
    }
  }
}
.db-sidenav.navbar {
  .nav {
    width: 100%;
    .nav-item {
      .nav-link {
        font-size: 15px;
        line-height: 22px;
        color: $gray-900;
        font-weight: 600;
        padding: 13px 28px;
        transition: all 0.3s ease;
        border-radius: 10px;
        &:hover {
          background-color: $primary;
          color: $white;
          border-radius: 10px;
          transition: all 0.3s ease;
        }
        i {
          font-size: 12px;
          line-height: 22px;
          margin-right: 8px;
        }
      }
      .nav-link.active {
        background-color: $primary;
        color: $white;
        border-radius: 10px;
        transition: all 0.3s ease;
      }
    }
  }
}
